
  #menu{
      background-color: #d9d9d9;
      height: 190px;
      width: 133px;
  }
#noteExample{
  width: 250px;
  height: 320px;
  background-color: white;
}
/* Oculta la barra de desplazamiento para Chrome, Safari y Opera */
::-webkit-scrollbar {
  display: none;
}

/* Oculta la barra de desplazamiento para IE, Edge y Firefox */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}